extends layout

block content
  h3= title
  form#form_check_student(name="checkstudent", method="post", action="/checkstudent")
    span Username
    span &nbsp;
    input#input_name(type="text", placeholder="username", name="username")
    br
    br
    span Password
    span &nbsp;
    input#input_street(type="password", placeholder="password", name="password")
    br
    br
    button#submit_student(type="submit") submit
